{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
<ol class="flickr-photogallery-albumlist">
    <f:if condition="{albumlist}">
        <f:for each="{albumlist}" as="album">
            {album.id}<br />
            {album.title}<br />
            {album.photos} {f:translate(id: 'content.photos', package: 'Flickr.Photogallery', source: 'NodeTypes/AlbumList')}<br />
            {f:translate(id: 'content.created', package: 'Flickr.Photogallery', source: 'NodeTypes/AlbumList')}: <f:format.date format="d.m.Y">{album.date}</f:format.date><br />
            <img src="{album.image}" alt="{album.title}" /><br />
            <f:link.action action="photosInline" arguments="{albumId: album.id}">Zum Album</f:link.action>
        </f:for>
    </f:if>
</ol>

